<%= form_for @argument do |f|  %>
  <p>
    <%= f.label :content, "Argument: "  %>
  </p>
  <p>
    <%= f.text_area :content, :class => :bigBox, :autofocus => true %>
  </p>
  <%= f.submit %>

<% end %>