<h3>List of Accounts</h3>

<%= render :partial => 'user', collection: @users %>

<!-- <% @users.each do |u| %>
<div class="user">
  <ul>
  <li><%=link_to("#{u.username}",u)%></li>
  </ul>
</div>
<% end %> -->