// Place all the styles related to the Arguments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
h1 {
  text-align: center;
}
body {
  background-color: gainsboro;
}
.mainContainer {
  max-width: 960px;
  margin: 0 auto;
}
nav {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
nav li {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 0 15px;
}
.argument {
  border: 1px solid black;
  padding: 0 10px;
  margin: 10px 0px;
}
.bigBox {
  height: 150px;
  width: 600px;
}
.bolden {
  font-weight: bold;
}
a {
  color: fuchsia;
}