// Place all the styles related to the Arguments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(//fonts.googleapis.com/css?family=Roboto:400,700);
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
h1 {
  text-align: center;
}
body {
  margin-top: 85px;
  background-color: rgba(226, 215, 208, 1);
}
.mainContainer {
  max-width: 960px;
  margin: 0 auto;
}
nav {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
nav ul li {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 0 15px;
  padding-top: 28px;
}
.argument, .user {
  border: 1px solid black;
  padding: 0 10px;
  margin: 10px 0px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 2px 2px #888888;
}
.bigBox {
  height: 150px;
  width: 600px;
}
.bolden {
  font-weight: bold;
}
a {
  color: rgb(142,151,255);
}
.order li {
  display:inline-block;
  margin: 0 10px;
}
.signedin {
  color: gainsboro;
}
.navbar-text {
 font-size: 2em;
}
.dropdown {
  display: inline-block;
  margin-left: 20px;
}
h3 {
  display: inline-block;
}
.completed {
  background-color: rgba(142,151,255,0.3);
}